* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #B0C4DE;
    padding-bottom: 3rem;
}

.logo img {
    height: 70px;
}

.container {
    margin-top: 20vh;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.addTask {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.helper {
    width: 100%;
    text-align: center;
}

.addTask input {
    width: 300px;
    border-radius: 0.6rem;
    border: 1px solid black;
    padding: 0.5rem 1rem;
}

.addTask button {
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    border: 1px solid black;
    background-color: #EFEFEF;
    cursor: pointer;
}

.todo {
    width: 48%;
}

.error {
    color: red;
}

.item {
    display: flex;
    padding: 0.5rem 0 0.5rem 0;
    border-bottom: 1px solid #DADEE1;
    justify-content: space-between;
}

.item .task_action {
    text-align: right;
    /* width: 30%; */
}

.item .task_action i {
    margin-left: 1rem;
    cursor: pointer;
}

.tasks {
    display: flex;
    justify-content: space-around;
}

.task_box {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #F5F7F7;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.6rem;
    margin-bottom: 2rem;
}

.dumpster {
    text-align: center;
    width: 432px;
    margin: auto;
}

.dumpster button {
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    border: 1px solid black;
    background-color: #EFEFEF;
    cursor: pointer;
}

.armageddon {
    text-decoration: underline;
    color: red;
}
