<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet"> 
    <title>To Do List</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="logo">
                <img src="https://www.boolean.careers/images/misc/logo.png" alt="">
            </div>
            <div class="addTask">
                <input type="text" v-model="newTask" @keyup.enter="addTask" placeholder="Add a task here">
                <button @click="addTask">Aggiungi</button>
                <div class="helper">Add a simple task to do(more than 5 characters)</div>
                <div class="error" v-show="error">Devi inserire un task valido</div>
            </div>
            <div class="tasks">
                <div class="todo task_box" v-if="tasks.length > 0">
                    <h3>Todo List</h3>
                    <div class="item" v-for="(task, index) in tasks">
                        <p contenteditable>
                            {{task}}
                        </p>
                        <!-- <input type="text" v-model="editedTask[index]" v-show="editing" @keyup.enter="editThis(editedTask, index)"> -->
                        <div class="task_action">
                            <i class="fas fa-check-circle" @click = "completeTask(index)"></i>
                            <!-- <i class="fas fa-edit" @click = "edit(index)"></i> -->
                            <i class="fas fa-trash" @click = "removeTask(index)"></i>
                        </div>
                    </div>
                </div>

                <div v-else class="todo task_box">
                    <h4>Nothing left to do!</h4>
                </div>

                <div v-if="completedTasks.length > 0" class="completed task_box">
                    <h3>Completed</h3>
                    <div class="item" v-for="(completedTask, index) in completedTasks">
                        <p>
                            {{completedTask}}
                        </p>
        
                        <div class="task_action">
                            <i class="fas fa-undo-alt" aria-hidden="true" @click ="redoTask(index)"></i>
                        </div>
                    </div>
                </div>
                <div v-if="trashedTasks.length > 0" class="trashed task_box">
                    <h3>Trashed <span @click="clearBin" class="armageddon">(Clear bin)</span></h3>
                    <div class="item" v-for="(trashedTask, index) in trashedTasks">
                        <p>
                            {{trashedTask}}
                        </p>
        
                        <div class="task_action">
                            <i class="fas fa-recycle" @click="recycle(index)"></i>
                            <i class="fas fa-dumpster" @click = "clearTask(index)"></i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="dumpster">
                <button @click="showDumpster">Guarda tutti i task rimossi dal cestino</button>
                <div v-show="discarica" class="task_box">
                    <h3>Questi sono i task che hai rimosso:</h3>
                    <div class="item" v-for="(dumped, index) in dump">
                        <p>
                            {{dumped}}
                        </p>
        
                        <div class="task_action">
                            <i class="fas fa-history" @click = "timeRegression(index)"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="./assets/js/main.js">
    </script>
</body>
</html>